@model TeamProject1.Models.Spice

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seasoning.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seasoning.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seasoning.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seasoning.Calories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seasoning.Place_of_Origin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seasoning.Place_of_Origin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotness)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
