@model TeamProject1.Models.MyRecipe_Seasoning

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyRecipe_Seasoning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyRecipe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyRecipe.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seasoning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seasoning.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
